.station-logo {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: white;
}

.blank-radio {
   visibility: hidden;
}

.station-logo > img, .station-logo > div {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: 90%;
    max-width: 90%;
    padding: 5%;
}

.active-station {
    opacity: 0.5;
}

.play-button {
    opacity: 0.8;
}

.spinner {
    text-align: center;
}

.spinner-frame {
    width: 100%;
    text-align: center;
}

.spinner > div {
    width: 30%;
    padding-bottom: 30%;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); }
    40% { -webkit-transform: scale(1.0); transform: scale(1.0); }
}

.station-text {
    display: flex;
}

.station-text-inside {
    margin-bottom: auto;
    margin-top: auto;
}

.station-text-inside > p {
    margin: 0;
}

.station-heading {
    font-weight: 500;
}

.error-heading {
    font-weight: 500;
    text-align: center;
    margin: 0px 0px;
}

.sep-line {
    margin: 5px 0px;
    height: 1px;
    border: medium none;
    background-color: rgb(201, 201, 201);
}

.sep-line:last-of-type {
    visibility: hidden;
}

.player {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 1em;
    padding-left: 1em;
}

.player-content {
    max-width: 768px;
    margin: 5px auto;
}

.error-message {
    background-color: rgb(230, 51, 51);
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-right: 1em;
    padding-left: 1em;
    margin: 0 0.5em;
    z-index: 100;
}

.error-content {
    max-width: 768px;
    margin: 5px auto;
}

.content {
    margin: 5px auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 0.5em;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* color: #777; */
    font-size: 0.9em;
    line-height: 1.5;
    font-family: 'Oswald', sans-serif;
}